html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 15000px;
	background-color: red; /* For browsers that do not support gradients */
	background-image: repeating-linear-gradient(#42275c, #6dd5ed 10%, #42275a 30%); 
    text-align: center;
    font-family: 'Timmana', sans-serif;
}

<<<<<<< HEAD
=======
.logo {
    width: 120px;
}
>>>>>>> parent of d0ecda7 (Update style.scss)



#id {
width:100%;
    float:left;
} 
#left{
width:50%;
    float:left;
}
#right {
width:50%;
    float:left;
}

h1 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
}

.channels {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    
    a {
        flex: 1;
        padding: 5px 10px;
        margin-right: 10px;
        background-color: #060042;
        border: none; 

        &:last-child {
            margin-right: 0px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
} 