@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #srchCont {
      margin-top: 100px;
      display: none;
      overflow-x: hidden;
  }

  #srchCont h1 {
    color: white;
  }

 #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    overflow-x: hidden;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }

  #gmsCont {
      width: 80%;
      height: auto;
      display: flex;
      flex-direction: row;
      background-color: green;
      justify-content: left;
      flex-flow: wrap;
  }

  #gmsCont:hover div {
    transform: scale(0.9);
    transition-timing-function: ease-in;
    transition: 0.2s;
}
#gmsCont div:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in;
    transition: 0.2s;
}

  #gmsCont div {
      width: 260px;
      height: 320px;
      color: white;
      background-color: orange;
      border: 1px dashed white;
      margin: 20px;
      box-sizing: border-box;
      text-align: center;
      float: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: all 0.2s;
      word-wrap: break-word;  
      white-space: pre-line;
  }

  .gmsImg {
    display: block;
    margin: auto auto;
    width: 85%;
    height: 175px;
    padding-bottom: 5px;
  }

  .gmsAuth {
    text-overflow: ellipsis;
    text-align: left;
    font-size: 9px;
    padding-left: 1px;
    padding-bottom: 5px;
  }

  .gmsDesc {
    word-wrap: break-word; 
    white-space: pre-line;
    word-break: break-word;
    text-align: left; 
  }