body {
    background-color: #0c030e;
    margin: auto;
    width: 50%;
}

#title {
  text-align: center;
  color: white;
  font-family: din-round,sans-serif;
  font-size: 35px;
}

.nftNotFound {
    text-align: center;
    color: white;
}

.passDiv {
    position: relative;
}

.passElement {
    color: white;
}

.passElement.cntuButton {
  position: absolute;
  right: 5%;
  top: 40px;
  width: 150px;
  height: 75px;
  background-color: #1899D6;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transform: translateZ(0);
  transition: filter .2s;
}

.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 0.275s linear infinite;
    margin: auto;
    width: 5%;
    height: 5%;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loader.center {
    animation: spin 5s linear infinite;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25vh;
    width: 25vh;
    top: 35vh;
    margin: auto;
    position: relative;
  }

  #tooltip {
    position: relative;
    top: 35%;
    left: 27%;
    color: white;
    margin: auto;
  }

#resetVerif {
  position: relative;
  top: 255;
}

.button-19.cntuVerif {
  position: absolute;
  top: 425;
  width: 50%;
}

.verifPostText {
  text-align: center;;
  color: white;
  padding: 325px 0;
}